html {
  background-color: #363062;
  /* background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #CE5A67 50%); */
  min-height: 1000px;
  font-family: 'helvetica neue';
}

.section1{
  background-color: #363062;
}
h1, h3 {
  color: #fff;
  padding: 10px;
}

.navbar-brand{
  font-family: "Montserrat-Light";
  font-weight: bold;
  font-size: 2rem
}
.navbar{
  padding-left: 30px;
}

.box {
  max-width: 400px;
  margin:auto;
  background: #9BBEC8;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #DDF2FD;
  font-family: "Sacramento";
  font-size: 2rem;
  text-align: center;
}
h1{
  color: black;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

.items {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: #fff;
  background-color: #F5E8C7;
  color: #000;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #427D9D;
}

::placeholder {
  color: black;
  opacity: 1;
}

footer {
  color: inherit;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
